* {
    box-sizing: border-box;
}

.nav-bar {

    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.nav-bar:hover {
    box-shadow: inset 0px 0px 8px;
}

header {

    margin-top:10px;
    font-size: 100px;
text-align: center;
color: #549bad;
background-color: #f0e1de;
}

header h1 {
    font-size: 8px;
}

body{
font-family: 'Gill Sans', 'Gill Sans MT';
margin: 0;
display: flex;
flex-direction: column;
min-width: 100px;
justify-content: flex-start;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
box-shadow: inset 0px 0px 8px;
}

body{
    background-color: #f0e1de;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}




.container {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

.headshot {
    flex-basis: 40%;
}

img {
    margin: 40px;
    max-width: 100%;
    border: 1px black solid;
    
}

.about-me {
    font-size: 20px;
    padding-left: 50px;;
    text: wrap;
}

.title-work {
font-size: 60px;
margin-top:10px;
    border:;
    font-size: 100px;
text-align: center;
color: #549bad;


}

.container-2 {
position: relative;
text-align: center;
color: black;
    display: flex;
    flex-wrap: wrap;
 justify-content: space-around;
}

.top-left {
    position: absolute;
    font-size: 50px;
   margin: 20px; 
   border: 2px;
   padding: 10px;
   background-color: aliceblue;
    top: 40px;
    left: 25px;


}


.big-card:nth-child(3n), .surf
{
width: 95%;
border-style: solid;
border-width: 1px;
margin: 0 auto;
flex-basis: 1;
border-radius: 9px;
box-shadow: 10px 10px 5px #aaaaaa;
margin: 20px;

}


.card:hover, .surf:hover {
    box-shadow: inset 0px 0px 8px
}

.card {
    border-style: solid;
    border-width: 1px;
    width: 45%;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 2px;

}

.led-wall, .run-buddy, .pastel-puzzle, .calculator {
    position: relative;
    top: 10px;
    margin: 0 auto;
    background-color: aliceblue;
    flex-basis: 1 auto;

    font: 30px white;
}

.disco-img {
    display: flex;
    object-fit: cover;
    margin: 0 auto;
    width:
    flex-wrap: wrap;
}
 .my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
 }

 header h3 {
    display: flex;
    font: #549bad;
    font-size: 40px;
    align: center;

 }

footer {
font-size: 30px;
display: flex;
font: #549bad;
font-size: 30px;
font-weight: bold;
justify-content: space-around;

}