* {
    box-sizing: border-box;
}

header {
padding: 50px;
text-align: right;
background-color: rgb(81, 181, 227)
}

header h1 {
}

body{
font-family: 'Gill Sans', 'Gill Sans MT';
margin: 0;
display: flex;
flex-direction: column;
min-width: 100 px;
justify-content: flex-start;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
box-shadow: inset 0px 0px 8px;
}

body{
    background-color: #f9b2b9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.card:hover {

}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 100px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;

}

.butterfly {
    display: flex;
    height: 50px
    width: 50px
}


.disco-img {
    display: flex;
    height:300px;
    width: 500px;
    border: 5px solid;
    object-fit: fill;
}

footer {
    border: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}